doctype html
html
  head
    title Error
  body
    h1 Error
    p Disculpa, ha ocurrido un error.
    p #{error.message || 'No hay mensaje de error disponible.'} 
    a(href='/') Volver a la página principal
