doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/styles.css")
  body(class="bodyIndex")
    h1= title
    if error
      p(style="color:red")= error
    form(method="POST" action="/")
      label Usuario:
      input(type="text" name="username" required)
      br
      label Contraseña:
      input(type="password" name="password" required)
      br
      button(type="submit") Iniciar Sesión
