doctype html
html
  head
    title Crear Usuario
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  body
    h1.text-center Nuevo Usuario

    form(action="/users" method="POST")
      div.form-group
        label(for="nombre") Nombre
        input.form-control(type="text" id="nombre" name="nombre" required)

      div.form-group
        label(for="area") Área
        input.form-control(type="text" id="area" name="area" required)

      div.form-group
        label(for="contraseña") Contraseña
        input.form-control(type="password" id="contraseña" name="contraseña" required)

        div.form-group
        label(for="rol") Rol
        input.form-control(type="text" id="rol" name="rol" required)

      button.btn.btn-primary(type="submit") Guardar Nuevo Usuario

    if query.error
      div.alert.alert-danger.text-center
        | Existen datos incompletos o erróneos.
    
    if query.success
      div.alert.alert-success.text-center
        | Usuario creado exitosamente

    a.btn.btn-secondary.mt-3(href="/users") Volver a la lista de usuarios
